@model BugTrackingSystem.Models.Bug

@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron text-center">
        <h1>Bug Tracking System</h1>
        <a class="btn btn-link" href="/Home/Create">Click Here Raise New Issue</a>
    </div>
</div>

